<div class="phanHome">
  <div class="container">
    <div class="inputNew">
      <!-- search   -->
      <div >
        <h3>Search tương ứng:</h3>
        <label for="">Mã:</label><br /> <input type="text" ng-model="maSearch" /><br /><br />
        <label for="">SĐT:</label><br /> <input type="text" ng-model="sdtSearch" /><br /><br />
        <label for="">Địa chỉ:</label><br /> 
       <select ng-model="diaChiSearch">
        <option value="">Vui lòng chọn</option>
          <option value="Hà Nội">Hà Nội</option>
          <option value="Nam Định">Nam Định</option>
          <option value="Thái Bình">Thái Bình</option>
       </select>
     <button ng-click="searchNV($event)">Search</a>
      </div>
      <div class="row">
        <h3>Quản lý</h3>
        <label for="">Mã NV:</label><br /> <input type="text" ng-model="x.ma" /><br /><br />
        <label for="">Tên</label><br /> <input type="text"  ng-model="x.ten" /><br /><br />
        <label for="">Giới tính</label><br />   
        <input type="radio" name="gioiTinh" value="true"  ng-checked="x.gioiTinh == true"checked />Nam
        <input type="radio" name="gioiTinh" value="false"  ng-checked="x.gioiTinh == false"/>Nữ
        <br>
        <label for="">SDT</label><br /> <input type="text" ng-model="x.sdt" /><br /><br />
          <label for="">Địa chỉ:</label><br />
          <select class="form-select" aria-label="Default select example" ng-model="x.diaChi">
            <option value="Nam Định">Nam Định</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Thái Bình">Thái Bình</option>
          </select><br> 
          <label for="">Cửa hàng:</label><br />
          <!-- ng-selected="x.idCH" -->
          <select class="form-select" aria-label="Default select example" ng-model="x.idCH">
            <option ng-repeat="ch in listCH" value="{{ch.id}}" ng-selected >{{ch.ma}}  - {{ch.ten}}</option>
          </select><br>   
        </div>
        <a href="#/add" ng-click="add($event)">Add</a>
        <a href="#update/{{x.id}}" ng-click="update($event,x.id)">Update</a>
      </div>
    </div>
    <div class="bang">
      <table class="table" border="1px">
        <thead>
          <tr>
            <th scope="col">Stt</th>
            <th scope="col">Id</th>
            <th scope="col">Mã</th>
            <th scope="col">Tên</th>
            <th scope="col">Gioi tinh</th>
            <th scope="col">Sdt</th>
            <th scope="col">Địa chỉ</th>
          <th scope="col">Tên cửa hàng</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody ng-repeat="x in listNV">
          <tr>
            <th scope="row">{{$index+1}}</th>
            <td>{{x.id}}</td>
            <td>{{x.ma}}</td>
            <td>{{x.ten}}</td>
            <td>{{x.gioiTinh?'Nam':'Nữ'}}</td>
            <td>{{x.sdt}}</td>
            <td>{{x.diaChi}}</td>
            <td>{{x.cuaHang.ten}}</td>
            <td>
              <a href="#detail/{{x.id}}" ng-click="detail($event,x.id)"
                >Detail</a >| 
            </td>
            <td><a
              href="#delete/{{x.id}}"
              ng-click="remove($event,x.id)"
              >Remove</a
            ></td>
          </tr>
        </tbody>
      </table>
      
        <button ng-click="prevPage()">Previous</button>
        <li ng-repeat="ax in listPageNo">
          <button ng-click="customPage(ax)">{{$index+1}}</button>
        </li>
        <button ng-click="nextPage()">Next</button>
    </div>
    </div>
  </div>
</div>
